#===============================================================================
#   Custom Gitignore
#===============================================================================


/openface/*
!/openface/.placeholder

/raw/*
!/raw/.placeholder

/tmp_analysis/*
!/tmp_analysis/.placeholder
