#===============================================================================
#   Custom Gitignore
#===============================================================================


/openface/*
!/openface/.placeholder

/raw/*
!/raw/.placeholder

/tmp_analysis/*
!/tmp_analysis/.placeholder

/emotion/*
!/emotion/.placeholder


/alt_openface_old_protocol/*
!/alt_openface_old_protocol/.placeholder

/final/*
!/final/.placeholder
