#===============================================================================
#   Custom Gitignore
#===============================================================================

/openface/*
!/openface/.placeholder

/raw/*
!/raw/.placeholder
